@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Global CSS Properties */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  margin: 0 ;
}
/* Header and Footer CSS*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(18, 0, 119);
}
.header-wrapper {
  padding: 15px 25px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  padding: 6px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px; 
}
.nav-links a {
  font-weight: bold;
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}
footer {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.15);
}
.footer-wrapper {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  position:absolute;
  bottom:0;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
}
.footer-fit {
  
  margin-top: 20px;
  margin-bottom: 20px;
}
/*Sidenav CSS*/
.example-container {
  position: absolute; 
  height: 400px;
  overflow: auto; 
}
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  
}
